/*
--------------------------------------------------------------------------------------

	Audio + Video
	components.audio-video.css

--------------------------------------------------------------------------------------
*/



/*
-------------------------------------------
	Video
-------------------------------------------
*/


.ou-video {
	margin:0 0 20px 0;
	background-color: #000;
	color:#fff;
}

.ou-video__clip {
	text-align:center;
	padding:20px;
}

.ou-video object,
.ou-video iframe {max-width: 100%;}


p.ou-video__toggle {margin:15px 0 0 0;}

p.ou-video__toggle a {
	text-decoration:none;
	color:#777;
	background-color: transparent;
}

p.ou-video__toggle a:hover {color:#fff;}

.ou-video .ou-quote p {font-size:1.1em;}

.oembed-title {
	color:#fff;
	background-color: transparent;
	text-decoration:none;
	display:inline-block;
	margin:0 0 15px 0;	
}

.oembed-title:hover {color:#999;}



/* audio */

.ou-audio blockquote .ou-dialogue dt,
.ou-audio blockquote .ou-dialogue dd {
	padding-left:0;
	text-align:left;
	color:#fff;
	background-color: transparent;
}

div.ou-audio blockquote .ou-dialogue dt {
	color:#000;
	background-color: transparent;
}

div.ou-audio blockquote .ou-dialogue dt:before {
	content:"";
}


