/*
--------------------------------------------------------------------------------------

	Lists
	components.lists.css

--------------------------------------------------------------------------------------
*/




/*
-------------------------------------------
	Unordered
-------------------------------------------
*/


/* unordered - standard */

.ou-list {
	margin:0 0 20px 0; 
	padding:0;
}

.ou-list ul {margin:10px 0 10px 25px;}

.ou-list li {
	display:block;
	margin-bottom:5px;
	line-height:150%;
}


/* unordered - bullets */

.ou-list--bullets {
	margin:0 0 20px 25px;
	list-style-type: none;
	padding: 0;
}

.ou-list--bullets ul,
.ou-list-ordered ul {margin:10px 0 10px 25px;}

.ou-list--bullets li,
.ou-list-ordered ul li {
	margin-bottom: 5px;
	position: relative;
	padding-left: 20px;
	line-height:150%;
	/* z-index:100;  so items can float alongside happily */
}

.ou-list--bullets li:before,
.ou-list-ordered ul li:before {
	content: "\2022";
	color: #000;
	font-size: 25px;
	position: absolute;
	left: 0;
	top: 0;
}

.ou-list--bullets.ou-list--links li:before {color:#039;}

.ou-list--bullets.ou-list--links ol li:before {color:#666;}


/* unordered - arrows */

.ou-list--arrows {
	margin:0 0 20px 0;
	padding:0;
}

.ou-list--arrows li {
	margin-bottom: 10px;
	position: relative;
	padding-left: 15px;
	line-height:130%;
	/*z-index:100;  so items can float alongside happily */
}

.ou-list--arrows li:before {
	display: inline-block;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid #999;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	position: absolute;
	top: 3px;
	left: 0;
}



/*
-------------------------------------------
	Ordered
-------------------------------------------
*/

.ou-list-ordered {
	margin:0 0 20px 25px;
	counter-reset: item;
	list-style-type:none;
	
}

.ou-list-ordered ol,
.ou-list ol {
	margin:10px 0 10px 25px;
	counter-reset: item;
	list-style-type:none;
}

.ou-list-ordered li,
.ou-list ol li {
	position: relative;
	padding-left: 25px;
	margin-bottom: 5px;
	line-height:150%;
}

.ou-list-ordered li:before,
.ou-list ol li:before {
	content: counter(item) ". ";
	font-size:1em;
	counter-increment: item;
	color: #666;
	display: inline-block;
	text-align: right;
	position: absolute;
	top: 0;
	left: 0;
}



/*
-------------------------------------------
	Columns
-------------------------------------------
*/


.ou-list--2-cols,
.ou-list--3-cols {
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.ou-list--2-cols li,
.ou-list--3-cols li {
	display:inline-block; 
	width:100%;
}

.ou-list--3-cols {
	-moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}


/*
-------------------------------------------
	Horizontal
-------------------------------------------
*/


.ou-list--horizontal li {
	display:inline-block;
	margin-right:10px;	
}


/*
-------------------------------------------
	Social media
-------------------------------------------
*/

.ou-list--social a {text-decoration:none;}
.ou-list--social a:hover {text-decoration:underline;}

.ou-list--social li {
	background-position:0 1px;
	background-repeat:no-repeat;
	background-image:none;
	padding:8px 0 8px 42px;
	margin-bottom:4px;
	min-height:33px;
}

.ou-list__facebook {background-image:url(icons/social/icon-facebook.png);}
.ou-list__twitter {background-image:url(icons/social/icon-twitter.png);}
.ou-list__youtube {background-image:url(icons/social/icon-youtube.png);}
.ou-list__linkedin {background-image:url(icons/social/icon-linkedin.png);}
.ou-list__google {background-image:url(icons/social/icon-google.png);}
.ou-list__skype {background-image:url(icons/social/icon-skype.png);}
.ou-list__instagram {background-image:url(icons/social/icon-instagram.png);}


/* icons only */

.ou-list--social--icons li {
	padding:0;
	display:inline-block;
	margin-right:10px;
}

.ou-list--social--icons a {
	display:block;
	width:32px;
	height:32px;
	text-indent:-5000em;	
}


/*
-------------------------------------------
	Document lists
-------------------------------------------
*/

.ou-list--docs a {
	background-position:0 0;
	background-repeat:no-repeat;
	padding-left:22px;	
	text-decoration:none;
}

.ou-list--docs--pdf a {background-image:url(icons/docs/icon-pdf.png);}
.ou-list--docs--doc a {background-image:url(icons/docs/icon-doc.png);}
.ou-list--docs--xls a {background-image:url(icons/docs/icon-xls.png);}
.ou-list--docs--ppt a {background-image:url(icons/docs/icon-ppt.png);}

.ou-list--docs a:hover {text-decoration:underline;}


/*
-------------------------------------------
	Links
-------------------------------------------
*/


.ou-list--links a {text-decoration:none;}
.ou-list--links a:hover {text-decoration:underline;}




@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

.ou-list--2-cols,
.ou-list--3-cols {
	-moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0;
}


} /* end media query */



/*
-------------------------------------------
	Retina
-------------------------------------------
*/


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 


/* social media */

.ou-list--social li {background-size:32px 32px;}

.ou-list__facebook {background-image:url(icons/social/icon-facebook@2x.png);}
.ou-list__twitter {background-image:url(icons/social/icon-twitter@2x.png);}
.ou-list__youtube {background-image:url(icons/social/icon-youtube@2x.png);}
.ou-list__linkedin {background-image:url(icons/social/icon-linkedin@2x.png);}
.ou-list__google {background-image:url(icons/social/icon-google@2x.png);}
.ou-list__skype {background-image:url(icons/social/icon-skype@2x.png);}
.ou-list__instagram {background-image:url(icons/social/icon-instagram@2x.png);}


/* docs */

.ou-list--docs a {background-size:16px 16px;}

.ou-list--docs--pdf a {background-image:url(icons/docs/icon-pdf@2x.png);}
.ou-list--docs--doc a {background-image:url(icons/docs/icon-doc@2x.png);}
.ou-list--docs--xls a {background-image:url(icons/docs/icon-xls@2x.png);}
.ou-list--docs--ppt a {background-image:url(icons/docs/icon-ppt@2x.png);}



} /* end media query */

