/*
--------------------------------------------------------------------------------------

	Images
	components.images.css

--------------------------------------------------------------------------------------
*/




/*
-------------------------------------------
	Image + caption
-------------------------------------------
*/


.ou-img {
	padding: 15px;
	text-align:center;
}

.ou-img img {margin:0 auto;}

.ou-img.ou-pull-left,
.ou-img.ou-pull-right {width:40%;}

.ou-img.ou-pull-center {width:80%;}

.ou-img__caption {
	margin:5px 0 0 0;
	color:#555;
	font-size:.9em;
}

.ou-bg-green .ou-img__caption,
.ou-bg-red .ou-img__caption, 
.ou-bg-dark-purple .ou-img__caption,
.ou-bg-blue .ou-img__caption,
.ou-bg-dark-blue .ou-img__caption,
.ou-bg-dark-grey .ou-img__caption,
.ou-bg-purple .ou-img__caption,
.ou-bg-orange .ou-img__caption {color:#fff;}




/*
-------------------------------------------
	Hero
-------------------------------------------
*/


.ou-hero {
	position:relative;
	margin:0 auto 25px auto;
	max-width:1180px;
}

.ou-hero__img {
	display:block;
	height:auto;
}

.ou-hero__link,
.ou-hero__link:hover {
	text-decoration:none;
	color:#fff;
}

.ou-hero__text {
	display: block;
	position: absolute;
	width: 60%;
	right: 0;
	bottom: 0;
	background: #DD3E57;
	background: rgb(221,62,87);
	background: rgba(221,62,87, 0.8);
	text-align: right;
	padding: 25px 20px;
	margin: 0;
}

.ou-hero:hover .ou-hero__text {background:#DD3E57;}

.ou-hero__title {
	color: #fff;
	line-height: 120%;
	margin:0;
	padding:0;
	font-size:1.8em;
}

.ou-hero__description {
	color:fff;
	font-size:1em;
	margin:5px 0 0 0;
}

/* darker colours */

.ou-hero.ou-bg-green .ou-hero__text {background:#539d3c !important; background: rgb(83, 157, 60) !important; background: rgba(83, 157, 60, 0.8) !important; } 
.ou-hero.ou-bg-red .ou-hero__text {background:#b52a1e !important; background: rgb(181, 42, 30) !important; background: rgba(181, 42, 30, 0.8) !important; } 
.ou-hero.ou-bg-dark-purple .ou-hero__text {background:#470d43 !important; background: rgb(71, 13, 67) !important; background: rgba(71, 13, 67, 0.8) !important; } 
.ou-hero.ou-bg-blue .ou-hero__text {background:#0b55a8 !important; background: rgb(11, 85, 168) !important; background: rgba(11, 85, 168, 0.8) !important; } 
.ou-hero.ou-bg-dark-blue .ou-hero__text {background:#002158 !important; background: rgb(0, 33, 88) !important; background: rgba(0, 33, 88, 0.8) !important; } 
.ou-hero.ou-bg-dark-grey .ou-hero__text {background:#312b39 !important; background: rgb(49, 43, 57) !important; background: rgba(49, 43, 57, 0.8) !important; } 
.ou-hero.ou-bg-purple .ou-hero__text {background:#880088 !important; background: rgb(136, 0, 136) !important; background: rgba(136, 0, 136, 0.8) !important; }
.ou-hero.ou-bg-orange .ou-hero__text {background:#cf6041 !important; background: rgb(207, 96, 65) !important; background: rgba(207, 96, 65, 0.8) !important; }

.ou-hero.ou-bg-green:hover .ou-hero__text {background:#539d3c !important;} 
.ou-hero.ou-bg-red:hover .ou-hero__text {background:#b52a1e !important; } 
.ou-hero.ou-bg-dark-purple:hover .ou-hero__text {background:#470d43 !important;} 
.ou-hero.ou-bg-blue:hover .ou-hero__text {background:#0b55a8 !important;} 
.ou-hero.ou-bg-dark-blue:hover .ou-hero__text {background:#002158 !important;} 
.ou-hero.ou-bg-dark-grey:hover .ou-hero__text {background:#312b39 !important;} 
.ou-hero.ou-bg-purple:hover .ou-hero__text {background:#880088 !important;}
.ou-hero.ou-bg-orange:hover .ou-hero__text {background:#cf6041 !important;}


/* lighter colours */

.ou-hero.ou-bg-yellow .ou-hero__text {background:#ffc23d !important; background: rgb(255, 194, 61) !important; background: rgba(255, 194, 61, 0.8) !important; color:#000; } 
.ou-hero.ou-bg-light-blue .ou-hero__text {background:#a6d0ff !important; background: rgb(166, 208, 255) !important; background: rgba(166, 208, 255, 0.8) !important; color:#000; } 
.ou-hero.ou-bg-grey .ou-hero__text {background:#929fb0 !important; background: rgb(146, 159, 176) !important; background: rgba(146, 159, 176, 0.8) !important; color:#000; } 
.ou-hero.ou-bg-light-grey .ou-hero__text {background:#e7eff7 !important; background: rgb(231, 239, 247) !important; background: rgba(231, 239, 247, 0.8) !important; color:#000; }

.ou-hero.ou-bg-yellow .ou-hero__title, 
.ou-hero.ou-bg-light-blue .ou-hero__title, 
.ou-hero.ou-bg-grey .ou-hero__title,
.ou-hero.ou-bg-light-grey .ou-hero__title {color:#000;}

.ou-hero.ou-bg-yellow:hover .ou-hero__text {background:#ffc23d !important; } 
.ou-hero.ou-bg-light-blue:hover .ou-hero__text {background:#a6d0ff !important;} 
.ou-hero.ou-bg-grey:hover .ou-hero__text {background:#929fb0 !important;} 
.ou-hero.ou-bg-light-grey:hover .ou-hero__text {background:#e7eff7 !important;}

/* test this
#ou-region2 .hero p {
	position:static;
	display:block;
	font-size:1.2em;
	padding:12px 18px;
	line-height:130%;
	text-align:left;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}
*/

@media only screen and (max-width: 850px), screen and (max-device-width: 850px) {


.ou-hero__text {width:70%;}

.ou-hero__title {font-size:1.6em;}


} /* end media query */


@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {


/* image + caption */

.ou-img.ou-pull-left,
.ou-img.ou-pull-right,
.ou-img.ou-pull-center {max-width:50%;}

/* hero */

.ou-hero__text {
	width:60%;
	padding: 15px 10px;
}

.ou-hero__title {font-size: 1.4em;}


} /* end media query */


@media only screen and (max-width: 640px), screen and (max-device-width: 640px) {

.ou-hero__text {width: 70%;}

} /* end media query */


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

/* image + caption */

.ou-img.ou-pull-left,
.ou-img.ou-pull-right,
.ou-img.ou-pull-center {
	max-width:none;
	width:100%;
}


/* hero */

.ou-hero__text {
	width:100%;
	position:static;
	text-align:left;
}

.ou-hero__title {font-size: 1.2em;}


} /* end media query */

