/*
--------------------------------------------------------------------------------------

	Buttons
	components.buttons.css

--------------------------------------------------------------------------------------
*/


.ou-btn {
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	background: #888;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
	margin: 0 5px 15px 0;
	cursor:pointer;
	border:0;
	text-align:center;
}

.ou-btn--primary {background: #e80074;}
.ou-btn--secondary {background:#036;}
.ou-btn--success {background:#539d3c;}
.ou-btn--warning {background:#b52a1e;}

.ou-btn--block {
	display:block;
	margin-right:0;
	width:100%;
}

.ou-btn:hover {
	background:#000 !important;
	color:#fff;
	text-decoration:none;
}
