/*
--------------------------------------------------------------------------------------

	Various
	components.various.css

--------------------------------------------------------------------------------------
*/



/*
-------------------------------------------
	Creative
-------------------------------------------
*/


.ou-creative {
	background-color: #e7eff7;
	color: #222;
	position:relative;
}

.ou-creative img,
.ou-creative img.ou-go3 {
	margin:0 auto;
	display:block;
}

.ou-creative__wording {
	position:absolute;
	display:inline-block;
	color: #666;
	background:#fff;
	background: rgb(255,255,255);
	background: rgba(255,255,255, 0.9);
	padding:20px 25px;
	top:35%;
	left:8%;
	max-width:40%;	
}

.ou-creative__wording--top {top:10%;}

.ou-creative__wording--bottom {top:auto; bottom:10%;}

.ou-creative__title {
	margin:0;
	font-size:1.8em;
	background-color: transparent;
	color: #000;
}

.ou-creative__description {
	color:#666;
	background-color: transparent;
	font-size:1em;
	margin:10px 0 0 0;
}

.ou-creative__description p:last-child {margin-bottom:0;}


/*
-------------------------------------------
	Events
-------------------------------------------
*/


.ou-events__nav {
	background-color:#eee;
	color: #000;
	text-align:center;
	margin:0 0 20px 0;
}

span.ou-events__current {
	display:inline-block;
	padding:8px 0;
	font-weight:bold;
}

.ou-events__prev,
.ou-events__next {
	display:inline-block;
	float:left;
	text-decoration:none;
	padding:8px 10px;
	border-right:1px solid #ddd;
}

.ou-events__next {
	float:right;
	border-right:0;	
	border-left:1px solid #ddd;
}

.ou-events__prev:before,
.ou-events__next:after {
	font-family:"Hiragino Mincho ProN";
	content: "\25c0";
	color:#999;
	background-color: transparent;
	font-size:9px;
	display:block;
	float:left;
	margin:2px 4px 0 0;
}

.ou-events__next:after {
	content: "\25b6 ";
	float:right;
	margin:2px 0 0 4px;
}

.ou-events__prev:hover,
.ou-events__next:hover {text-decoration:none;}

.ou-events__prev:hover:before,
.ou-events__next:hover:after {
	color:#e80074;
	background-color: transparent;
}

.ou-events__day {
	border-bottom:1px solid #eee;
	margin:0 0 15px 0;
	padding-bottom:15px;
	min-height:90px;
}

.ou-events__day:last-child {border-bottom:0;}

.ou-events__date {
	width: 55px;
    height: auto;
    float: left;
    margin: 3px 10px 0 0;
}

.ou-events__date em {
	font-style: normal;
    font-size: .9em;
    color: #fff;
    background-color: #E3294A;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    display: block;	
}

.ou-events__date strong {
	text-align: center;
    color: #000;
    background-color: transparent;
    font-size: 25px;
    font-weight: normal;
    display: block;
    background: #eee;
    padding: 10px 0;
	border-radius:0 0 4px 4px;
}

.ou-events__date--multi strong {font-size:16px;}

.ou-events__event {margin-left:75px;}

.ou-events__event-title {
	font-size:1.1em;
	margin:0 0 6px 0;	
}

.ou-events__event-title a {text-decoration:none;}

.ou-events__event-time,
.ou-events__event-date,
.ou-events__event-location,
.ou-events__event-contact {
	color:#777;	
	background-color: transparent;
	font-size:.9em;
	margin:0 0 5px 0;
	line-height:120%;
}

.ou-events__event-contact a {color:#777;}

.ou-events__event-description p:last-child {margin-bottom:0;}

.ou-events--single .ou-events__event-description {margin-top:20px;}



/*
-------------------------------------------
	Site ident
-------------------------------------------
*/


.ou-site-ident {
	text-align:left;
	max-width:1180px;
	margin:20px auto 15px auto;
}

.ou-site-ident__title {
	font-size:1.2em;
	font-weight:normal;
	padding:0;
	margin:0 0 5px 0;
}

.ou-site-ident__title a {
	color:#000;
	background-color: transparent;
	text-decoration:none;
}

.ou-site-ident__title a:hover {text-decoration:underline;}

.ou-site-ident__description {
	padding:0;
	margin:0;
	color:#777;
	background-color: transparent;
}


@media 
only screen and (max-width: 1180px), 
only screen and (max-device-width: 1180px) {


.ou-site-ident__title,
.ou-site-ident__description {padding-left:15px;}


.ou-creative__wording {
	max-width:80%;
	left:0;
	bottom:0;
	top:auto;
}



} /* end media query */


@media 
only screen and (max-width: 767px), 
only screen and (max-device-width: 767px) {


.ou-creative__wording {
	max-width:100%;
	width:100%;
	display:block;
	position:static;
	background-color:#fff;
}

.ou-creative__title {font-size:1.4em;}

.ou-creative__wording--top {top:auto;}
.ou-creative__wording--bottom {top:auto;}



} /* end media query */



@media 
only screen and (max-width: 400px), 
only screen and (max-device-width: 400px) {


.ou-site-ident__title {font-size:1em;}
.ou-site-ident__description {font-size:.9em;}


} /* end media query */

