/*
--------------------------------------------------------------------------------------

	Lists
	components.lists.css

--------------------------------------------------------------------------------------
*/



/* links */

.ou-list--links a {text-decoration:none;}
.ou-list--links a:hover {text-decoration:underline;}


/*
-------------------------------------------
	Unordered
-------------------------------------------
*/


/* unordered - standard */

.ou-list {
	margin:0 0 20px 0; 
	padding:0;
}

.ou-list ul {margin:10px 0 10px 25px;}

.ou-list li {
	display:block;
	margin-bottom:5px;
	line-height:150%;
}


/* unordered - bullets */

.ou-list--bullets {
	margin:0 0 20px 25px;
	list-style-type: none;
	padding: 0;
}

.ou-list--bullets ul,
.ou-list-ordered ul {margin:10px 0 10px 25px;}

.ou-list--bullets li,
.ou-list-ordered ul li {
	margin-bottom: 5px;
	position: relative;
	padding-left: 20px;
	line-height:150%;
	/* z-index:100;  so items can float alongside happily */
}

.ou-list--bullets li:before,
.ou-list-ordered ul li:before {
	content: "\2022";
	color: #000;
	font-size: 25px;
	position: absolute;
	left: 0;
	top: 0;
}

.ou-list--bullets.ou-list--links li:before {color:#039;}

.ou-list--bullets.ou-list--links ol li:before {color:#666;}


/* unordered - arrows */

.ou-list--arrows {
	margin:0 0 20px 0;
	padding:0;
}

.ou-list--arrows li {
	margin-bottom: 10px;
	position: relative;
	padding-left: 15px;
	line-height:130%;
	/*z-index:100;  so items can float alongside happily */
}

.ou-list--arrows li:before {
	display: inline-block;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid #999;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	position: absolute;
	top: 3px;
	left: 0;
}



/*
-------------------------------------------
	Ordered
-------------------------------------------
*/

.ou-list-ordered {
	margin:0 0 20px 25px;
	counter-reset: item;
	list-style-type:none;
	
}

.ou-list-ordered ol,
.ou-list ol {
	margin:10px 0 10px 25px;
	counter-reset: item;
	list-style-type:none;
}

.ou-list-ordered li,
.ou-list ol li {
	position: relative;
	padding-left: 25px;
	margin-bottom: 5px;
	line-height:150%;
}

.ou-list-ordered li:before,
.ou-list ol li:before {
	content: counter(item) ". ";
	font-size:1em;
	counter-increment: item;
	color: #666;
	display: inline-block;
	text-align: right;
	position: absolute;
	top: 0;
	left: 0;
}



/* list columns */


.ou-list--2-cols,
.ou-list--3-cols {
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.ou-list--2-cols li,
.ou-list--3-cols li {
	display:inline-block; 
	width:100%;
}

.ou-list--3-cols {
	-moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

.ou-list--2-cols,
.ou-list--3-cols {
	-moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0;
}


} /* end media query */


