/*
--------------------------------------------------------------------------------------

	Articles
	components.articles.css

--------------------------------------------------------------------------------------
*/

.ou-articles {margin-bottom:20px;}

.ou-articles__article {
	border-bottom:1px solid #ddd;
	padding-bottom:20px;
	margin-bottom:20px;
	display:table;
	table-layout: fixed;
}

.ou-articles__article:after {
    content: " ";
    display: block;
    clear: both;
}

.ou-articles__img {
	display: table-cell;
    vertical-align: top;
	width:160px;
	padding-right:20px;
}

.ou-articles__text {
	display: table-cell;
    vertical-align: top;
}

.ou-articles__text h2,
.ou-articles__text h3 {
    font-size:1.3em;
	margin:0 0 5px 0;
	line-height:150%;
}

.ou-articles__text h2 a,
.ou-articles__text h3 a {text-decoration:none;}

.ou-articles__text p {margin-bottom: 15px;}

.ou-articles__text p:last-child {margin-bottom:0;}

.ou-articles__more {margin-top:-5px;}

.ou-articles__date {
	color:#777;	
	background-color: transparent;
	margin:10px 0 0 0;
	line-height:100%;
	font-size:.9em;
}

/* with blocks */

.ou-blocks .ou-articles__article {
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:20px;	
}


/* striped */

.ou-articles--striped .ou-articles__article {
	border-bottom:none;
	padding:20px;
	margin:0;
	width:100%;
}

.ou-articles--striped .ou-articles__article:nth-child(odd) {background: #e7eff7;}

.ou-articles--striped .ou-articles__text {width:80%;}



/* stacked articles (images at top) */

.ou-articles--stacked .ou-articles__article {
	border-bottom:none;
	display:block;
}

.ou-articles--stacked .ou-articles__img  {
	width:100%; 
	float:none; 
	margin-bottom:10px;
	padding-right:0;
	display:block;
}

.ou-articles--stacked .ou-articles__text {display:block;}


/* promoted story */

.ou-articles__article--promoted .ou-articles__img {width:200px;}

.ou-articles__article--promoted .ou-articles__text h2,
.ou-articles__article--promoted .ou-articles__text h3 {font-size:1.6em;}


/* smaller news - for region2 and smaller containers */

.ou-articles--smaller {
	color:#555;
	background-color: transparent;
}

.ou-articles--smaller .ou-articles__img {width:120px;}

.ou-articles--smaller .ou-articles__text h2,
.ou-articles--smaller .ou-articles__text h3 {
	font-size:1em;
	font-weight:bold;
	margin-bottom:4px;
}

.ou-articles--smaller p {font-size:95%;}

.ou-articles--smaller .ou-articles__date {font-size:90%;}


/* smaller promoted */

.ou-articles--smaller .ou-articles__article--promoted .ou-articles__img {width:140px;}

.ou-articles--smaller .ou-articles__article--promoted .ou-articles__text h2,
.ou-articles--smaller .ou-articles__article--promoted .ou-articles__text h3 {font-size:1.1em;}


/* list  */

.ou-articles__list .ou-articles__date {
	display:block;
	margin-top:5px;
}


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {


.ou-articles__article--promoted,
.ou-articles__article--promoted .ou-articles__text {display:block;}

.ou-articles__article--promoted .ou-articles__img,
.ou-blocks .ou-articles__img {
	width:100%; 
	float:none; 
	margin-bottom:15px;
	padding-right:0;
	display:block;
}

.ou-articles--smaller .ou-articles__article--promoted .ou-articles__img {
	display:table-cell;
	margin-bottom:0;
	padding-right:20px;
	width:140px;
}

.ou-articles--smaller .ou-articles__article--promoted .ou-articles__text {display:table-cell;}


} /* end media query */
