/*
--------------------------------------------------------------------------------------

	Icons
	components.icons.css

--------------------------------------------------------------------------------------
*/


/*
-------------------------------------------
	Documents
	pdf, doc, excel, powerpoint
-------------------------------------------
*/

.ou-pdf,
.ou-doc,
.ou-xls,
.ou-ppt {
	background-position:0 0;
	background-repeat:no-repeat;
	padding-left:20px;	
	text-decoration:none;
}

.ou-pdf {background-image:url(icons/docs/icon-pdf.png);}
.ou-doc {background-image:url(icons/docs/icon-doc.png);}
.ou-xls {background-image:url(icons/docs/icon-xls.png);}
.ou-ppt {background-image:url(icons/docs/icon-ppt.png);}




/*
-------------------------------------------
	Retina
-------------------------------------------
*/


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 


/* docs */

.ou-pdf,
.ou-doc,
.ou-xls,
.ou-ppt {background-size:16px 16px;}

.ou-pdf {background-image:url(icons/docs/icon-pdf@2x.png);}
.ou-doc {background-image:url(icons/docs/icon-doc@2x.png);}
.ou-xls {background-image:url(icons/docs/icon-xls@2x.png);}
.ou-ppt {background-image:url(icons/docs/icon-ppt@2x.png);}


} /* end media query */


