@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	lists.css

--------------------------------------------------------------------------------------
*/




/* unordered tick list */

ul.ou-tick-list li,
#ou-content ul.ou-tick-list li {
	padding-left:22px;
	margin-bottom:5px;
	position:relative;
	line-height:1.6em;
}

#ou-content ul.ou-tick-list li:before,
ul.ou-tick-list li:before {
	content: "\f00c";
	font-family:FontAwesome;
	font-size:1em;
	color:#539d3c;
	top:5px;
	left:0;
	position:absolute;
	line-height:90%;
}

/* unordered cross list */

#ou-content ul.ou-cross-list li,
ul.ou-cross-list li {
	padding-left:22px;
	margin-bottom:5px;
	position:relative;
	line-height:1.6em;
}

#ou-content ul.ou-cross-list li:before,
ul.ou-cross-list li:before {
	content: "\f00d";
	font-family:FontAwesome;
	font-size:1em;
	color:#b52a1e;
	top:5px;
	left:0;
	position:absolute;
	line-height:90%;
}



