@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	navigation.css

--------------------------------------------------------------------------------------
*/




/*
-------------------------------------------
	Tabs
	Same design as responsive tabs
-------------------------------------------
*/


#ou-content ul.ou-tabs {
	font-size: 1em;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: 0;
	line-height: 1em;
	float: left;
	width: 100%;
	clear: both;
	font-weight: bold;
	background: #eee;
}

#ou-content ul.ou-tabs li {
	float: left;
	display:inline-block;
	margin:0;
	padding:0;
	position:relative;
	z-index:100;
}

#ou-content ul.ou-tabs li:before {content:"";}

#ou-content ul.ou-tabs li a {
	background: #eee;
	padding: 10px 20px;
	margin-right: 0;
	margin-bottom: 0;
	padding: 10px 15px;
	color: black;
	border-left: 1px solid #ddd;
	display:inline-block;
	text-decoration:none;
}

#ou-content ul.ou-tabs li:first-child a {border-left:0;}

#ou-content ul.ou-tabs li a:hover {
	background: #a6d0ff;
	text-decoration:underline;
}

#ou-content ul.ou-tabs li a.ou-selected {
	background: #ffc23d;
	border-bottom-color: #ffc23d;
	border-left:0;
	color: #000;
}

#ou-content ul.ou-tabs li a.ou-selected:after {
	display: inline-block;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffc23d;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
}

#ou-content ul.ou-tabs li a.ou-selected:hover {text-decoration:none;}


/*
-------------------------------------------
	Links
-------------------------------------------
*/


/* external link */

a.ou-external:after {
	font-family: 'FontAwesome';
	content: "\f08e";
	display: inline-block;
	padding-left:4px;
}

a.ou-link:before {
	font-family: 'FontAwesome';
	font-weight:normal;
	content: "\f019";
	display: inline-block;
	padding-right:6px;
	color:#039;
}

a.ou-link:before {content:"\f061"; }

a.ou-link:hover:before {color:#000;}


/* standalone link */

a.ou-standalone-link {font-size:90%; text-decoration:none;}


/* dashboard add */

a.add-block {
	display:block;
	padding:30px 20px;
	text-align:center;
	text-decoration:none;
	border-radius:10px;
	border:3px dashed #ddd;
}

a.add-block:hover {border-color:#539d3c;}


/**/



/*
-------------------------------------------
	A to EZ
-------------------------------------------
*/


#ou-content ol.ou-atoz-filter {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	display: block;
}

#ou-content ol.ou-atoz-filter li {
	list-style: none;
	display: inline;
	padding: 0;
}

#ou-content ol.ou-atoz-filter li:before {content:"";}

#ou-content ol.ou-atoz-filter li a {
	text-decoration: none;
	color: #039;
	padding:3px 6px;
}

#ou-content ol.ou-atoz-filter li.selected a  {
	text-decoration: none;
	color: #fff;
	background:#0b55a8;
}

#ou-content ol.ou-atoz-filter li.filter-all.selected a {
	text-decoration: none;
	color: #fff;
	font-size: 100%;
}

#ou-content ol.ou-atoz-filter li a:hover {
	text-decoration: none;
	background:#a6d0ff;
	color:black;
}

#ou-content ol.ou-atoz-filter li.selected a:hover,
#ou-content ol.ou-atoz-filter li.filter-all.selected a:hover {
	background:#0b55a8; 
	color:#fff;
}

.ou-atoz-results {margin-top: 30px;}

#ou-content .ou-atoz-results ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

#ou-content .ou-atoz-results ul li {
	padding:20px;
	background-color:#fff;
}

#ou-content .ou-atoz-results ul li:nth-child(odd) {background-color: #e7eff7;}

#ou-content .ou-atoz-results ul li:before {content:"";}

#ou-content .ou-atoz-results ul li a {text-decoration: none;}

.ou-atoz-results h3 {
	margin: 0 0 6px 0;
	font-size: 1.2em;
}

.ou-atoz-results p {
	margin-bottom: 0;
	color:#555;
}

.ou-atoz-results p.ou-atoz-items {
	color:#777;
	float: right;
	margin-top: 3px;
}

.ou-atoz-results p.ou-atoz-items em {font-style:normal;}



