/*
--------------------------------------------------------------------------------------

	Colours
	objects.colours.css

--------------------------------------------------------------------------------------
*/



/*
-------------------------------------------
    Palette
-------------------------------------------
	
	NEUTRALS
	
		Black				#000000
		White				#FFFFFF
		Dark grey			#333333
		Grey				#A7A9AC
		Light grey*			#E7EFF7
	
	COLOURS
	
		Red                 #E3294A
		Pink				#E80074
		Yellow              #FFD400
		Purple				#5F4997
		Dark blue           #003366
		Blue            	#0E56A7
		Light blue          #549DD0
		Purple              #880088
		Orange              #C5540A
		Burgundy			#7B003F
		Dark green			#3F644A	
		Turquoise			#00B7B2
		Beige				#CFC285
		Green*				#539d3c
		Light green			#A2B52D
	
		*not in official palette but useful for web, review

*/



/*
-------------------------------------------
    Text colour
-------------------------------------------
*/

/* darker text */

.ou-text-black {color:#000000 !important;}
.ou-text-red {color:#E3294A !important;}
.ou-text-pink {color:#E80074 !important;}
.ou-text-dark-blue {color:#003366 !important;}
.ou-text-dark-grey {color:#333333 !important;}
.ou-text-purple {color:#5F4997 !important;}
.ou-text-orange {color:#C5540A !important;}
.ou-text-burgundy {color:#7B003F !important;}
.ou-text-dark-green {color:#3F644A !important;}
.ou-text-blue {color:#0E56A7 !important;} 

/* not in official palette - review */
.ou-text-green {color:#539d3c !important;}

/* lighter text */

.ou-text-white {color:#FFFFFF !important;}
.ou-text-grey {color:#A7A9AC !important;} 
.ou-text-yellow {color:#FFD400 !important;} 
.ou-text-turquoise {color:#00B7B2 !important;}
.ou-text-light-blue {color:#549DD0 !important;} 
.ou-text-beige {color:#CFC285 !important;} 
.ou-text-light-green {color:#A2B52D !important;}

/* not in official palette - review */
.ou-text-light-grey {color:#e7eff7 !important;}



/*
-------------------------------------------
    Background colour
-------------------------------------------
*/


/* darker colours */

.ou-bg-black {background-color:#000000 !important;}
.ou-bg-dark-grey {background-color:#333333 !important;}
.ou-bg-red {background-color:#E3294A !important;}
.ou-bg-pink {background-color:#E80074 !important;}
.ou-bg-dark-blue {background-color:#003366 !important;}
.ou-bg-purple {background-color:#5F4997 !important;}
.ou-bg-orange {background-color:#C5540A !important;}
.ou-bg-burgundy {background-color:#7B003F !important;}
.ou-bg-dark-green {background-color:#3F644A !important;}
.ou-bg-blue {background-color:#0E56A7 !important;} 

/* not in official palette - review */
.ou-bg-green {background-color:#539d3c !important;}


/* lighter colours */

.ou-bg-white {background-color:#FFFFFF !important;}
.ou-bg-grey {background-color:#A7A9AC !important;} 
.ou-bg-light-green {background-color:#A2B52D !important;}
.ou-bg-turquoise {background-color:#00B7B2 !important;}
.ou-bg-light-blue {background-color:#549DD0 !important;} 
.ou-bg-yellow {background-color:#FFD400 !important;} 
.ou-bg-beige {background-color:#CFC285 !important;} 

/* not in official palette - review */
.ou-bg-light-grey {background-color:#e7eff7 !important;}

