/*
--------------------------------------------------------------------------------------

	Theme
	objects.theme.css

--------------------------------------------------------------------------------------
*/


/*
-------------------------------------------
	Shield overrides
-------------------------------------------
*/

.ou-theme #ou-header a.ou-logo img {display:none;}

.ou-theme #ou-header a.ou-logo {
	display:block;
	height:61px;
	width:87px;
	background-image:url(logos/ou-logo-light-blue.png);;
	background-position:top left;
	background-repeat:no-repeat;
}

.ou-theme--dark-green #ou-header a.ou-logo {background:url(logos/ou-logo-dark-green.png);}
.ou-theme--burgundy #ou-header a.ou-logo {background:url(logos/ou-logo-burgundy.png);}
.ou-theme--orange #ou-header a.ou-logo {background:url(logos/ou-logo-orange.png);}
.ou-theme--purple #ou-header a.ou-logo {background:url(logos/ou-logo-purple.png);}
.ou-theme--blue #ou-header a.ou-logo {background:url(logos/ou-logo-blue.png);}



/*
-------------------------------------------
	Theme colours
-------------------------------------------
*/


/* Burgundy */

.ou-theme--burgundy .ou-sections a.ou-selected,
.ou-theme--burgundy .ou-sections a.ou-selected:hover {
	border-bottom: 2px solid #630031;
	color:#630031;
}

.ou-theme--burgundy .ou-context-nav li strong, 
.ou-theme--burgundy .ou-context-nav li a.ou-selected, 
.ou-theme--burgundy .ou-context-nav li a.ou-selected:hover,

.ou-theme--burgundy .ou-paged strong, 
.ou-theme--burgundy .ou-paged a.ou-selected,

.ou-theme--burgundy .ou-events__date em,

.ou-theme--burgundy .ou-atoz__filter strong, 
.ou-theme--burgundy .ou-atoz__filter a.ou-selected, 
.ou-theme--burgundy .ou-atoz__filter a.ou-selected:hover {background: #630031;}

.ou-theme--burgundy .ou-articles--striped .ou-articles__article:nth-child(odd),
.ou-theme--burgundy .ou-creative {background:#F7F3F5;}



/* Dark Green */

.ou-theme--dark-green .ou-sections a.ou-selected,
.ou-theme--dark-green .ou-sections a.ou-selected:hover {
	border-bottom: 2px solid #4A5E4A;
	color:#4A5E4A;
}

.ou-theme--dark-green .ou-context-nav li strong, 
.ou-theme--dark-green .ou-context-nav li a.ou-selected, 
.ou-theme--dark-green .ou-context-nav li a.ou-selected:hover,

.ou-theme--dark-green .ou-paged strong, 
.ou-theme--dark-green .ou-paged a.ou-selected,

.ou-theme--dark-green .ou-events__date em,

.ou-theme--dark-green .ou-atoz__filter strong, 
.ou-theme--dark-green .ou-atoz__filter a.ou-selected, 
.ou-theme--dark-green .ou-atoz__filter a.ou-selected:hover {background: #4A5E4A;}

.ou-theme--dark-green .ou-articles--striped .ou-articles__article:nth-child(odd),
.ou-theme--dark-green .ou-creative,
.ou-theme--dark-green .ou-events__nav {background:#F5F5E5;}



/* Orange */

.ou-theme--orange .ou-sections a.ou-selected,
.ou-theme--orange .ou-sections a.ou-selected:hover {
	border-bottom: 2px solid #C5540A;
	color:#C5540A;
}

.ou-theme--orange .ou-context-nav li strong, 
.ou-theme--orange .ou-context-nav li a.ou-selected, 
.ou-theme--orange .ou-context-nav li a.ou-selected:hover,

.ou-theme--orange .ou-paged strong, 
.ou-theme--orange .ou-paged a.ou-selected,

.ou-theme--orange .ou-events__date em,

.ou-theme--orange .ou-atoz__filter strong, 
.ou-theme--orange .ou-atoz__filter a.ou-selected, 
.ou-theme--orange .ou-atoz__filter a.ou-selected:hover {background: #C5540A;}

.ou-theme--orange .ou-articles--striped .ou-articles__article:nth-child(odd),
.ou-theme--orange .ou-creative,
.ou-theme--orange .ou-events__nav {background:#FEF9E6;}



/* Purple */

.ou-theme--purple .ou-sections a.ou-selected,
.ou-theme--purple .ou-sections a.ou-selected:hover {
	border-bottom: 2px solid #4E247B;
	color:#4E247B;
}

.ou-theme--purple .ou-context-nav li strong, 
.ou-theme--purple .ou-context-nav li a.ou-selected, 
.ou-theme--purple .ou-context-nav li a.ou-selected:hover,

.ou-theme--purple .ou-paged strong, 
.ou-theme--purple .ou-paged a.ou-selected,

.ou-theme--purple .ou-events__date em,

.ou-theme--purple .ou-atoz__filter strong, 
.ou-theme--purple .ou-atoz__filter a.ou-selected, 
.ou-theme--purple .ou-atoz__filter a.ou-selected:hover {background: #4E247B;}

.ou-theme--purple .ou-articles--striped .ou-articles__article:nth-child(odd),
.ou-theme--purple .ou-creative,
.ou-theme--purple .ou-events__nav {background:#EEE9F2;}



/* Blue */

.ou-theme--blue .ou-sections a.ou-selected,
.ou-theme--blue .ou-sections a.ou-selected:hover {
	border-bottom: 2px solid #0B55A8;
	color:#0B55A8;
}

.ou-theme--blue .ou-context-nav li strong, 
.ou-theme--blue .ou-context-nav li a.ou-selected, 
.ou-theme--blue .ou-context-nav li a.ou-selected:hover,

.ou-theme--blue .ou-paged strong, 
.ou-theme--blue .ou-paged a.ou-selected,

.ou-theme--blue .ou-events__date em,

.ou-theme--blue .ou-atoz__filter strong, 
.ou-theme--blue .ou-atoz__filter a.ou-selected, 
.ou-theme--blue .ou-atoz__filter a.ou-selected:hover {background: #0B55A8;}

.ou-theme--blue .ou-articles--striped .ou-articles__article:nth-child(odd),
.ou-theme--blue .ou-creative,
.ou-theme--blue .ou-events__nav {background:#E7EFF7;}



@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {


/* shield */

.ou-theme #ou-header a.ou-logo,
.ou-theme--burgundy #ou-header a.ou-logo,
.ou-theme--orange #ou-header a.ou-logo,
.ou-theme--purple #ou-header a.ou-logo,
.ou-theme--blue #ou-header a.ou-logo,
.ou-theme--dark-green #ou-header a.ou-logo {
	width: 21px;
	height: 25px;
	background-image: url(../../gui/ou-logo-mobile.png);
}

/* themes */

.ou-theme--burgundy .ou-sections a.ou-selected,
.ou-theme--orange .ou-sections a.ou-selected,
.ou-theme--purple .ou-sections a.ou-selected,
.ou-theme--blue .ou-sections a.ou-selected,
.ou-theme--dark-green .ou-sections a.ou-selected {border-bottom:0;}



} /* end media query */



/*
-------------------------------------------
	Retina
-------------------------------------------
*/


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

.ou-theme #ou-header a.ou-logo {background-size:61px 87px;}

.ou-theme #ou-header a.ou-logo {background:url(logos/ou-logo-light-blue@2x.png);}
.ou-theme--dark-green #ou-header a.ou-logo {background:url(logos/ou-logo-dark-green@2x.png);}
.ou-theme--burgundy #ou-header a.ou-logo {background:url(logos/ou-logo-burgundy@2x.png);}
.ou-theme--orange #ou-header a.ou-logo {background:url(logos/ou-logo-orange@2x.png);}
.ou-theme--purple #ou-header a.ou-logo {background:url(logos/ou-logo-purple@2x.png);}
.ou-theme--blue #ou-header a.ou-logo {background:url(logos/ou-logo-blue@2x.png);}

} /* end media query */
