/*
--------------------------------------------------------------------------------------

	Various
	objects.various.css

--------------------------------------------------------------------------------------
*/



/*
-------------------------------------------
	Pulls
-------------------------------------------
*/


.ou-pull-left {
	float: left;
	margin: 0 25px 15px 0;
}

.ou-pull-right {
	float: right;
	margin: 0 0 15px 25px;
}

.ou-pull-center {
	display: block;
	margin: 0 auto 15px auto;
}



/*
-------------------------------------------
	Typography
-------------------------------------------
*/

.ou-introduction {font-size: 1.2em;}

h1.ou-smaller {font-size: 1.8em !important; }
h2.ou-smaller {font-size: 1.4em !important;}
h3.ou-smaller {font-size: 1.2em !important;}
h4.ou-smaller {font-size: 1em !important;}




/*
-------------------------------------------
	Misc
-------------------------------------------
*/

hr.ou-hr-small,
#ou-region2 hr {margin:15px 0;}


/*
-------------------------------------------
	Utilities
-------------------------------------------
*/


/* margins */

.mt-0 {margin-top:0;}
.mb-0 {margin-bottom:0;}


/* widths */

.w-10 {width:10%;}
.w-15 {width:15%;}
.w-20 {width:20%;}
.w-25 {width:25%;}
.w-30 {width:30%;}
.w-40 {width:40%;}
.w-50 {width:50%;}
.w-60 {width:60%;}
.w-70 {width:70%;}
.w-80 {width:80%;}
.w-90 {width:90%;}
.w-100 {width:100%;}



@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {

/* pulls */

.ou-pull-left,
.ou-pull-right,
.ou-pull-center {max-width:50%;}

} /* end media query */


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

/* pulls */

.ou-pull-left,
.ou-pull-right,
.ou-pull-center {
	float:none;
	max-width:100%;
	margin:0 0 20px 0;	
}

} /* end media query */
