/*
--------------------------------------------------------------------------------------

	Colours
	objects.colours.css

--------------------------------------------------------------------------------------
*/



/*
-------------------------------------------
    Palette
-------------------------------------------
	
	NEUTRALS
	
		Black				#000000
		White				#FFFFFF
		Dark grey			#333333
		Grey				#A7A9AC
		Light grey*			#E7EFF7
	
	COLOURS
	
		Red                 #B5002E
		Pink				#E80074
		Yellow              #F4C400
		Purple				#4E247B
		Dark blue           #003366
		Blue*            	#0b55a8
		Light blue          #A6D2FF
		Purple              #880088
		Orange              #C5540A
		Burgundy			#630031
		Dark green			#4A5E4A	
		Turquoise			#00B0AC
		Beige				#D1D1A5
		Green*				#539d3c
		Light green			#A4A400
	
		*not in official palette but useful for web, review

*/



/*
-------------------------------------------
    Text colour
-------------------------------------------
*/

/* darker text */

.ou-text-black {color:#000000 !important;}
.ou-text-red {color:#B5002E !important;}
.ou-text-pink {color:#E80074 !important;}
.ou-text-dark-blue {color:#003366 !important;}
.ou-text-dark-grey {color:#333333 !important;}
.ou-text-purple {color:#4E247B !important;}
.ou-text-orange {color:#C5540A !important;}
.ou-text-burgundy {color:#630031 !important;}
.ou-text-dark-green {color:#4A5E4A !important;}

/* not in official palette - review */
.ou-text-green {color:#539d3c !important;}
.ou-text-blue {color:#0b55a8 !important;} 

/* lighter text */

.ou-text-white {color:#FFFFFF !important;}
.ou-text-grey {color:#A7A9AC !important;} 
.ou-text-yellow {color:#F4C400 !important;} 
.ou-text-turquoise {color:#00B0AC !important;}
.ou-text-light-blue {color:#A6D2FF !important;} 
.ou-text-beige {color:#D1D1A5 !important;} 
.ou-text-light-green {color:#A4A400 !important;}

/* not in official palette - review */
.ou-text-light-grey {color:#e7eff7 !important;}



/*
-------------------------------------------
    Background colour
-------------------------------------------
*/


/* darker colours */

.ou-bg-black {background-color:#000000 !important;}
.ou-bg-dark-grey {background-color:#333333 !important;}
.ou-bg-red {background-color:#B5002E !important;}
.ou-bg-pink {background-color:#E80074 !important;}
.ou-bg-dark-blue {background-color:#003366 !important;}
.ou-bg-purple {background-color:#4E247B !important;}
.ou-bg-orange {background-color:#C5540A !important;}
.ou-bg-burgundy {background-color:#630031 !important;}
.ou-bg-dark-green {background-color:#4A5E4A !important;}

/* not in official palette - review */
.ou-bg-blue {background-color:#0b55a8 !important;} 
.ou-bg-green {background-color:#539d3c !important;}


/* lighter colours */

.ou-bg-white {background-color:#FFFFFF !important;}
.ou-bg-grey {background-color:#A7A9AC !important;} 
.ou-bg-light-green {background-color:#A4A400 !important;}
.ou-bg-turquoise {background-color:#00B0AC !important;}
.ou-bg-light-blue {background-color:#A6D2FF !important;} 
.ou-bg-yellow {background-color:#F4C400 !important;} 
.ou-bg-beige {background-color:#D1D1A5 !important;} 

/* not in official palette - review */
.ou-bg-light-grey {background-color:#e7eff7 !important;}

