/*
--------------------------------------------------------------------------------------

	OVERRIDES
	overrides.css

--------------------------------------------------------------------------------------
*/


/*
-------------------------------------------
	headerfooter.css overrides
-------------------------------------------
*/

body #ou-header {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

body #ou-site-header {
    max-width: none !important;
    margin: 0 !important;
}

body #ou-site-body {
    margin-top: 25px !important;
    margin-bottom: 45px !important;
}


@media only 
screen and (min-width: 768px)
and (max-width: 1180px) {

body #ou-header {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

} /* end media query */
