@charset "UTF-8";



body.styleguide-only #ou-site-body {margin: 40px auto;}

.ou-full-nav .subnav {display:none;}

.ou-full-nav .subnav.active {display:block;}

.ou-full-nav li.active-parent a {background-color:#e7eff7;}

.ou-full-nav li.active-parent.top-level a {background-color:#fff;}



.styleguide .ou-cols,
.styleguide .ou-row div {background:#ddd; text-align:center; padding:4px 0;}

.styleguide .ou-grid {margin:0 0 25px 0;}

.styleguide h2 {margin:0 0 25px 0;}

.styleguide .box h2 {margin:0 0 10px 0;}


