@charset "UTF-8";


/* summary sheet print css */

body {
	padding:0;
	font-family:Tahoma,"Lucida Grande",Arial,Helvetica,sans-serif;
	font-size:12pt;
}

.top-bar,
#site-ident,
a.cancel {
	display:none;
}

.content-wrap {
	width:100%;
	margin:0;
	padding:0;
	text-align:left;
	border:0;
}

img.go2 {
	float:right;
}

h1 {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20pt;
	margin:0 0 .8em 0;
}

h2 {
	font-size:16pt;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	margin:0 0 .5em 0;
}


table {
	width:100%;
	border-collapse:collapse;
	margin:0 0 2em 0;
	padding:0;
}

table td,
table th {
	padding:.3em .8em;
	border:1px solid #ccc;
}

table.time td,
table.time th {
	padding:.3em .8em;
}

table td,
table tbody th {
	vertical-align:top;
}

table.time tbody th {
	vertical-align:middle;
}

table tbody th {
	color:#555;
	width:25%;
}

table.time tbody th {
	width:18%;
}
