@charset "UTF-8";


/* summary sheet css */


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, div.page-title, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

a img {border: 0;}


body {
	margin:0;
	padding:0 0 0 0;
	background-color:#eee;
	font:80%/1.5em Tahoma,"Lucida Grande",Arial,Helvetica,sans-serif;
}

.top-bar {
	background-color:#3786A9;
	width:100%;
	height:80px;
	position:fixed;
	top:0;
	left:0;
}

.top-bar-links {
	width:70%;
	margin:0 auto;
	padding-top:20px;
}

.top-bar a {
	color:#fff;
	text-decoration:none;
}

.top-bar ul,
.top-bar ul li {
	list-style:none;
}

.top-bar ul.left {float:left;}
.top-bar ul.right {float:right;}

.top-bar ul li {
	float:left;
}

.top-bar ul li.back a {background-image: url(icon-back.png);}
.top-bar ul li.back a:hover {background-image: url(icon-back2.png);}

.top-bar ul li.print a {background-image: url(icon-print.png);}
.top-bar ul li.print a:hover {background-image: url(icon-print2.png);}

.top-bar ul li.download a {background-image: url(icon-download.png);}
.top-bar ul li.download a:hover {background-image: url(icon-download2.png);}


.top-bar ul li a {
	background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: Tahoma,"Lucida Grande",Arial,Helvetica,sans-serif;
    font-size: 1em;
    padding: 1em 1em 1em 3em;
    text-decoration: none;
}

.top-bar ul li a:hover {
	color:#ddd;
}

.content-wrap {
	width:70%;
	margin:0 auto;
	padding:110px 0 0 0;
	margin-bottom:2em;
}

.content {
	padding:2.5em;
	background-color:#fff;
	text-align:left;
	border:1px solid #ccc;
}

img.go2 {
	float:right;
}

h1 {
	color:#F36;
	font-family:Arial, Helvetica, sans-serif;
	font-size:2.4em;
	margin:0 0 .8em 0;
}

h2 {
	font-size:1.8em;
	font-family:Arial, Helvetica, sans-serif;
	color:#111;
	margin:0 0 .5em 0;
}


h3 {
	font-size:1.4em;
	font-family:Arial, Helvetica, sans-serif;
	color:#222;
	margin:0 0 .5em 0;
}

p {margin:0 0 1.5em 0;}

table p {margin:.7em 0;}

table {
	width:100%;
	border-collapse:collapse;
	margin:0 0 2em 0;
	padding:0;
}

table td,
table th {
	padding:.5em 1em;
	border:1px solid #D6E8F0;
}

table.time td,
table.time th {
	padding:.3em 1em;
}

table td,
table tbody th {
	vertical-align:top;
}

table.time tbody th {
	vertical-align:middle;
}

table thead th {
	background-color:#EBF4FB;
}

table tbody th {
	color:#555;
	width:25%;
}

table.time tbody th {
	width:18%;
}

/* ADDED BY B GURNEY */
.js-safe { display: none; }




/* added by turvey 9-3-12 */


ul.style1,
ul.style1 li {
	margin:0;
	padding:0;
}

ul.style1 {
	margin:0 0 1.5em 3em;
}


