@charset "UTF-8";


/*
--------------------------------------------------------------------------------------
	
	demo.css
	only necessary for the demo site. styles appended with "ou-ice-"

--------------------------------------------------------------------------------------
*/


/*
-------------------------------------------
	Homepage
-------------------------------------------
*/

.ou-ice-header {
	background:#002158;
	color:#fff;
	text-align:center;
}

.ou-ice-header h1 {
	color:#a6d0ff;
	font-size:3em;
}

.ou-ice-header__wrap {
	max-width:1040px;
	margin:0 auto;
	padding:50px 0 30px 0;	
}

.ou-shield {
	display:block;
	text-indent:-5000em;
	width:33px;
	height:39px;
	background-image: url(img/icons/icon-shield.png);
	background-position:top left;
	background-repeat:no-repeat;
	margin:0 auto;
}

@media only screen and (max-width: 1039px), screen and (max-device-width: 1039px) {

.ou-ice-header__wrap {padding:40px 20px;}

} /* end media query */


/**/


/*
-------------------------------------------
	Back link
-------------------------------------------
*/

.ou-ice-back {
	background:#002158;
	padding:15px 0;
}

.ou-ice-back a {
	color:#fff; 
	text-decoration:none;
	text-align:left;
}

.ou-ice-back a:before {
	content: "\2190";
	display:inline-block;
	margin-right:4px;
}

.ou-ice-back a:hover {color:#a6d0ff;}


/*
-------------------------------------------
	Code examples
-------------------------------------------
*/

.ou-ice-code {
	background:#eee;
	color:#D13E34;	
	display:inline-block;
	padding:0 5px;
}

pre.prettyprint {
	padding:15px 20px 15px 20px !important;
	border:1px solid #222 !important;
	max-height:300px;
	margin-bottom:20px;
	overflow-y:scroll;
}

a.code-example-trigger {
	margin-top:3px;
	margin-left: -40px;
	float:left;
	text-indent:-5000em;
	display:inline-block;
	width:24px;
	height:24px;
	background:url(img/icons/icon-code.png) top left no-repeat;
}

/*pre.prettyprint > span.pln:first-child {display:none;}*/

@media only screen and (max-width: 1200px), screen and (max-device-width: 1200px) {

a.code-example-trigger {
	margin-left:10px;
	float:none;
}
	
}



/*
-------------------------------------------
	Colour swatches
-------------------------------------------
*/


ul.colours,
ul.colours li {
	margin:0;
	padding:0;
	list-style:none;
}

ul.colours li:before {
	content:"";
}

ul.colours li {
	display:inline-block;
	width:110px;
	margin-right:10px;
	margin-bottom:10px;
	zoom: 1;
    *display: inline;
}

span.colours-title {
	font-weight:bold;
	display:block;
}

span.colours-hex {
	display:block;
	color:#555;
	font-size:13px;
}

span.colours-swatch {
	width:110px; 
	height:110px;
	display:block;
	margin-top:5px;
	border-radius:2px;
}




.styleguide .ou-grid {margin:0 0 25px 0;}

.styleguide h2 {margin:0 0 25px 0;}

.styleguide .box h2 {margin:0 0 10px 0;}




/*
-------------------------------------------
	Retina
-------------------------------------------
*/

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi) {


a.code-example-trigger {
	background:url(img/icons/icon-code@2x.png) top left no-repeat;
	background-size:24px 24px;
}

.ou-shield {
	background-image: url(img/icons/icon-shield@2x.png);
	background-size:33px 39px;
}



} /* end media query */

