@charset "UTF-8";


/* 
==========================================

	Countdown to Study Timeline

==========================================
*/


/*
-------------------------------------
	ICE overrides
-------------------------------------
*/

body.ou-timeline #ou-site-body {
	width:100%; 
	max-width:none; 
	background-color:#e9f0f5; 
	margin:0 !important;
	padding:0 0 30px 0;
}

body.ou-timeline #ou-site-header {border-bottom: 0;}

body.ou-timeline .ou-footer {margin-top:0;}

.ou-events__date {
	float:none;
	display:inline-block;
	margin-top:0;
}

.ou-events__date strong {background:#fff;}

/**/



/*
-------------------------------------
	clears
-------------------------------------
*/

.tl-timeline:after,
.tl-customise:after,
.tl-block:after,
.tl-block__content:after,
.tl-articles:after,
.tl-feedback:after {
    content: '';
    display: table;
    clear: both;
}



/*
-------------------------------------
	header
-------------------------------------
*/

.tl-header {
    height: auto;
    padding: 30px 0 40px 0;
    background-color: #fff;
    color: #000;
	text-align:center;
}

.tl-header__icon {margin-bottom:10px;}

.tl-header__title {
	margin-bottom:5px;
	font-size:1.6em;
}

.tl-header__tagline {
	color: #777;
    font-size: 1.2em;
	padding:0;
	margin:0;
}

/**/




/*
-------------------------------------
	panel
-------------------------------------
*/

.tl-panel {
	background-color:#d7e4ed;
	width: 100%;
	margin-bottom:30px;
	padding:15px 0;
}

.tl-panel__wrap {
	width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.tl-panel__customise {float:right;}

.tl-panel__customise a,
.tl-panel__customise a:visited {
	color:#039; 
	text-decoration:none;
	padding-left:20px;
	display:inline-block;
    background: url(icons/cog.png);
    background: url(icons/cog.svg), linear-gradient(transparent,transparent);
    background-position: center left;
    background-repeat: no-repeat;
	line-height:100%;
}

.tl-panel__customise a:hover {color:black;}

.tl-panel__button {
    display: inline-block;
    padding: 4px 0 4px 25px;
	margin-right:10px;
    border: 0;
    background: #fff;
    text-align: left;
    font-size: 1em;
    color: #666;
    background: url(icons/tick-unticked.png);
    background: url(icons/tick-unticked.svg), linear-gradient(transparent,transparent);
    background-position: center left;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.tl-panel__button--active {
	color: #000;
    background: url(icons/tick-filter.png);
    background: url(icons/tick-filter.svg), linear-gradient(transparent,transparent);
    background-position: center left;
    background-repeat: no-repeat;
}

.tl-panel__button:hover {color:#000;}

.tl-panel__button:focus {outline:0;}



/*
-------------------------------------
	customise
-------------------------------------
*/

.tl-customise {
	width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.tl-customise__intro {
	text-align:center;
	max-width:800px;
	margin:0 auto;
	margin-bottom:30px;
}

.tl-customise__heading {
	font-size:1.3em;
	margin:0 0 15px 0;	
	padding-top:25px;
}

.tl-customise__question {font-size:1.2em;}

.tl-customise__option {
	font-size:1em;
	padding-top:5px;
}


.tl-customise__text {
	font-size:1.2em;
	line-height:160%;
}

.tl-customise__questions {margin-bottom:20px;}

.tl-customise__questions:after {
	content: " ";
	display: block;
	clear: both;
}



/*
-------------------------------------
	messages
-------------------------------------
*/


.tl-messages {
	width: 90%;
    max-width: 1170px;
    margin: 0 auto;
	margin-bottom:30px;
}

.tl-messages__message {
	text-align:center;
	margin:0;
	padding:100px 0;
}

.tl-messages__success {
	padding:12px 25px 12px 20px;
	margin:0;
	background-color:#F9E376;
	position:relative;
}

.tl-close {
	width:12px;
	height:12px;
	background-color:transparent;
	color:#000;
	text-indent:-5000em;
	overflow:hidden;
	display:block;
	position:absolute;
	top:50%;
	margin-top:-6px;
	right:20px;
	cursor:pointer;
	background:url(icons/close.png);
	background:url(icons/close.svg), linear-gradient(transparent,transparent);
	background-repeat:no-repeat;
	background-position:center center;
	opacity:0.5;
}



/*
-------------------------------------
	timeline
-------------------------------------
*/

.tl-timeline {
	width: 90%;
    max-width: 1170px;
    margin: 0 auto;
	margin-top:10px;
	padding-top:30px;
	position:relative;
}

.tl-timeline:before {
	content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}

.tl-block {
	margin:0 0 40px 0;
	position:relative;
}

/* icon */

.tl-block__icon {
	position: absolute;
    top: 0;
	width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
	border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	color:#000;
	background:url(icons/milestone.png);
	background:url(icons/milestone.svg), linear-gradient(transparent,transparent);
	background-repeat:no-repeat;
	background-position:center center;
	background-color: #FFD400;
}

.tl-block__icon--asap {
	color:#000;
	background:url(icons/exclamation.png);
	background:url(icons/exclamation.svg), linear-gradient(transparent,transparent);
	background-repeat:no-repeat;
	background-position:center center;
	background-color: #E27229;
}

.tl-block__icon--overdue {
	color:#000;
	background:url(icons/warning.png);
	background:url(icons/warning.svg), linear-gradient(transparent,transparent);
	background-repeat:no-repeat;
	background-position:center center;
	background-color: #E3294A;
}

.tl-block__icon--start {
	color:#000;
	background:url(icons/star);
	background:url(icons/star.svg), linear-gradient(transparent,transparent);
	background-repeat:no-repeat;
	background-position:center center;
	background-color: #00B7B2;
}

.tl-block__icon--done {
	color:#000;
	background:url(icons/tick.png);
	background:url(icons/tick.svg), linear-gradient(transparent,transparent);
	background-repeat:no-repeat;
	background-position:center center;
	background-color: #539D3C;
}

/* content block */

.tl-block__content {
	position: relative;
    background: white;
    border-radius: 0.25em;
	margin-left: 0;
    padding: 20px;
    width: 45%;
	box-shadow: 0 3px 0 #d7e4ed;
}

.tl-block--start .tl-block__content {
	border: 0;
    background: transparent;
    box-shadow: none;
	padding:20px 0;
}

.tl-block:nth-child(even) .tl-block__content {float:right;}

.tl-block__content:before {
    content: '';
    position: absolute;
	top: 24px;
    left: 100%;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
    border-color: transparent;
    border-left-color: white;
}

.tl-block:nth-child(even) .tl-block__content:before {
    left: auto;
    border-color: transparent;
    border-right-color: white;
}

.tl-block--start .tl-block__content:before {display:none;}


/* date */

.tl-block__date {
	position: absolute;
    width: 100%;
    left: 122%;
	top: 0;
    padding: 0;
	display: inline-block;	
	color: #000;
	background-color:transparent;
    font-weight: bold;
}

.tl-block:nth-child(even) .tl-block__date {
	left: auto;
    right: 122%;
    text-align: right;
}

.tl-block__date--text-only {padding: 20px 0;}

.ou-events__helper {
    color: #000;
    display: inline-block;
    padding: 10px 10px 10px 0;
    font-weight: bold;
}

/* status */

.tl-block__status {
	margin:0 0 5px 0;
	font-size:.9em;
	font-weight:bold;
}

.tl-block__status--asap {
	color:#E27229; 
	background-color:transparent;
}

.tl-block__status--overdue {
	color:#E3294A; 
	background-color:transparent;
}

.tl-block__content--done .tl-block__status {display:none;}

/* heading */

.tl-block__heading {
	font-size:1.3em;
	margin-bottom:10px;	
}

.tl-block:nth-child(odd).tl-block--start .tl-block__heading {text-align:right;}


/* check button */

.tl-block__checkit {
	position: absolute;
    bottom: 20px;
    right: 15px;
}

.tl-block__button {
    display: inline-block;
    padding: 4px 25px 4px 0;
    border: 0;
    background: #fff;
    text-align: left;
    font-size: .9em;
    color: #666;
    background: url(icons/tick-unticked.png);
    background: url(icons/tick-unticked.svg), linear-gradient(transparent,transparent);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.tl-block__button--done {
	color: #000;
    background: url(icons/tick-ticked.png);
    background: url(icons/tick-ticked.svg), linear-gradient(transparent,transparent);
    background-position: center right;
    background-repeat: no-repeat;
}

.tl-block__button:hover {color:#000;}

.tl-block__button:focus {outline:0;}


/* fade out timeline before config */

.faded-out {background-color:#fff;}

.faded-out .tl-timeline {
	opacity:0.3; 
	max-height:600px; 
	overflow:hidden;
}




/**/



/*
-------------------------------------
	articles
-------------------------------------
*/


.tl-articles {
	border-bottom:1px solid #d7e4ed;
	width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}

.tl-articles__main-heading {
	font-size:1.6em;
	margin-bottom:15px;	
}

.tl-articles__text {margin-bottom:30px;}

.tl-articles__header {
	font-size:1.1em;
	font-weight:bold;
	margin-bottom:10px;	
	padding-top:15px;
	border-top:2px solid #00B7B2;
}


/*
-------------------------------------
	feedback
-------------------------------------
*/

/* widget.css */

.ou-feedback-widget-message,
.ou-feedback-widget-message-label-yes,
.ou-feedback-widget-message-label-no,
.ou-feedback-widget-thanks,
.ou-feedback-widget-after-yes,
.ou-feedback-widget-after-no
{ 
  display: none;
}

.ou-feedback-widget-message label,
.ou-feedback-widget-message textarea,
.ou-feedback-widget-message button
{
  display: block;
}

/**/


.tl-feedback {
	width: 90%;
    margin: 0 auto;
    margin-top: 30px;
	text-align:center;
}

/* buttons */

.ou-feedback-widget-button-yes,
.ou-feedback-widget-button-no,
.ou-feedback-widget-button-yes:visited,
.ou-feedback-widget-button-no:visited {
	display:inline-block;
	padding:6px 10px;
	margin:0 5px 0 0;
	background-color:#539D3C;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}

.ou-feedback-widget-button-no {background-color:#E3294A;}

.ou-feedback-widget-button-yes:hover,
.ou-feedback-widget-button-no:hover  {
	background-color:#427D30;
	text-decoration:none;
	color:#fff;
}

.ou-feedback-widget-button-no:hover {background-color:#B5213B;}


/* message, send */

.ou-feedback-widget-question,
.ou-feedback-widget-message-label-yes,
.ou-feedback-widget-message-label-no,
.ou-feedback-widget-thanks {font-weight:bold;}

.ou-feedback-widget-message textarea {
	display:block;
	width:350px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	padding:8px;
	height:70px;
	border:2px solid #d7e4ed;
	font-family: sans-serif;
	font-size:1em;
	line-height:1.5em;
}

.ou-feedback-widget-message textarea:focus {
	border:2px solid #326fb4;
	outline:none;
}


.ou-feedback-widget-message p {
	font-size:.9em;
	color:#666;
	background-color:transparent;	
}

.ou-feedback-widget-message button {
	margin:0 auto;
	background-color: #e80074;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    text-align: center;
    line-height: 120%;
}

.ou-feedback-widget-message button:hover {background-color:#000;}

/* search */

.ou-feedback-widget-after-no {
	padding-top:20px;	
}

.feedback-search input {
    display: inline-block;
    width: 220px;
    margin: 0 0 0 0;
    font-size: 1em;
    padding: 8px;
	border:1px solid #ccc;
}

.feedback-search input:focus {
	border:1px solid #326fb4;
	outline:none;
}

.btn-submit {
	display:inline-block;
	padding:8px;
	font-size:1em;
	color:#fff;
	border:none;
	background-color:#326fb4;
	line-height:100%;
	cursor:pointer;
}

.btn-submit:hover {background-color:#0E56A7;}

.btn-submit:focus {outline:none;}


.btn-submit i {
	display:inline-block;
	width:14px;
	height:14px;
    background: url(icons/search.png);
    background: url(icons/search.svg), linear-gradient(transparent,transparent);
    background-position: center left;
    background-repeat: no-repeat;
	line-height:100%;
	
}

.btn-submit i:before {display:none;}


/*
-------------------------------------
	back to top
-------------------------------------
*/

.tl-top {
	width: 90%;
    margin: 0 auto;
    margin-top: 30px;
	text-align:center;
}


/*
-------------------------------------
	animations
-------------------------------------
*/


@media only screen and (min-width: 1170px) {

.tl-block__icon {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.cssanimations .tl-block__icon.is-hidden,
.cssanimations .tl-block__content.is-hidden {visibility: hidden;}

.cssanimations .tl-block__icon.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
}

.cssanimations .tl-block__content.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 0.6s;
  -moz-animation: cd-bounce-2 0.6s;
  animation: cd-bounce-2 0.6s;
}

} /* end media query */


/* cd bounce 1 */

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}


/* cd bounce 2 */

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}




/*
-------------------------------------
	media queries
-------------------------------------
*/


@media only screen and (max-width: 1170px) {


.tl-timeline:before {
    left: 18px;
    margin-left: 0;
}

.tl-block__icon {
	width: 40px;
    height: 40px;
    left: 0;
    margin-left: 0;
}

.tl-block__content {
	margin-left: 60px;
    width: auto;
}

.tl-block__date {
	position: static;
    width: 100%;
    padding: 0;
	margin-bottom:15px;
	display: inline-block;	
}

.tl-block:nth-child(even) .tl-block__date,
.tl-block:nth-child(odd).tl-block--start .tl-block__heading {text-align: left;}

.tl-block--start .tl-block__content {padding:0;}

.tl-block:nth-child(even) .tl-block__content {float:none;}

.tl-block__content:before {
    top: 16px;
    right: 100%;
	left:auto;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

.ou-events__date strong {background-color:#eee;}

} /* end media query */



@media only screen and (max-width: 400px) {


.tl-header__title {font-size:1.3em;}
.tl-header__tagline {font-size:1em;}

.tl-panel__customise {float:none;}

.tl-panel__button {
	font-size:.9em;
	margin-right:5px;
}

.tl-block__checkit {
	position:static;
	margin-top:15px;	
}


} /* end media query */
