/*
--------------------------------------------------------------------------------------

	OU Blocks using CSS grid + mobile first
	objects.blocks-new.css

--------------------------------------------------------------------------------------
*/

/* clear */
.ou-blocks:after {
    content:" ";
    display:block;
    clear:both;
}

/* default grid with 2 columns */
.ou-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:20px;
	list-style-type: none;
	margin: 0;
	padding:0;
}

/* one column for mobile option */
.ou-blocks--mob-1-col {grid-template-columns: repeat(1, 1fr);}

@media (min-width: 640px) {
	/* specify column options */
	.ou-blocks--2-cols {grid-template-columns: repeat(2, 1fr);}
	.ou-blocks--3-cols {grid-template-columns: repeat(3, 1fr);}
	.ou-blocks--4-cols {grid-template-columns: repeat(4, 1fr);}
	.ou-blocks--5-cols {grid-template-columns: repeat(5, 1fr);}
}

@media (max-width: 800px) {
	/* one column for tablet option */
	.ou-blocks--tablet-1-col {grid-template-columns: repeat(1, 1fr);}
}